@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url(assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url(assets/fonts/roboto/Roboto-Italic.ttf);
}

*
{
    padding: 0px;
    margin: 0px;
}

html
{
    background-color: #f6f9fc;
    scroll-behavior: smooth;
    font-family: Roboto;
}

#main
{
    padding: 5rem 1rem 1rem 1rem;
}

#main > #name
{
    text-align: center;
    font-size: 4rem;
}

#site-links
{
    padding-top: 5rem;
    padding-bottom: 3rem;
    
    justify-content: center;
    flex-wrap: wrap;

    display: flex;
    gap: 3rem;
}

.site-link
{
    color: rgb(29, 107, 250);
    font-size: 1.5rem;
    position:relative;
    text-decoration:none;
    display:inline-block;
}

.site-link:after 
{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(45, 117, 252, 0.795);  
    transform: scaleX(0);  
    transition: transform 0.2s;
}

.site-link:hover:after
{
    transform: scaleX(1);
}

#projects
{
    display: flex;
    flex-flow: column;
    align-items: center;
    

    gap: 3rem;

    margin: 0 auto;
    max-width: 65rem;
    padding: 1rem;
}

.project
{
    border-radius: 0.3rem;
    box-shadow:0rem 0.1rem 1rem  #919191bd;
    background-color: white;

    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.project-pic
{
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    object-fit: cover;
    width:100%;
    height: 100%;
}

.project-pic.pchwrm
{
    object-position: right;
}

.project-pic.stream-pi, .project-pic.gramophy
{
    object-position: left;
}

.project-details
{
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.project-details > .title
{
    font-size: 2.5rem;
}

.project-details > .about-one-line
{
    font-size: 1.2rem;
    font-style: italic;
}

.project-details > .about
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-details > .tech-used
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-details > .tech-used > p
{
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 2px solid #92eac0;
}

.buttons
{
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    gap: 1rem;
}

.btn
{
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.1rem 0.2rem #b6b6b6;
    transition: all 0.1s;
    color:black;
}

.btn:hover
{
    transform: translateY(-1px);
    box-shadow: 0rem 0.2rem 0.4rem #b6b6b6;
}

.project-website-btn
{
    background-color: rgb(9, 144, 255);
    color:white;
}

.project-website-btn:hover
{
    background-color: rgba(9, 144, 255, 0.829);
}

.project-source-btn
{
    background-color: #02ac5a;
    color: white;
}

.project-source-btn:hover
{
    background-color: #02ac5ac4;
}

.news-section
{
    font-weight: bold;
}


.section-title
{
    text-align: center;
    font-size: 2rem;
}

#contact-education-skills
{
    margin: 0 auto;

    max-width: 80rem;

    grid-auto-columns: 1fr;

    display:grid;

    grid-template-areas: 
        "contact education skills";

    gap: 3rem;


    padding: 2rem 1rem 1rem 1rem;
}

#contact-education-skills > div
{
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 0.3rem;
    box-shadow:0rem 0.1rem 0.3rem  #919191be;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#contact
{
    grid-area: contact;
}

#education
{
    grid-area: education;
}

#skills
{
    grid-area: skills;
}

#skills-table
{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

#made-by
{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: rgb(146, 146, 146);
}

@media screen and (max-width: 80rem)
{
    .project
    {
        grid-template-columns: 0fr 1fr;
    }

    #contact-education-skills
    {
        grid-template-areas: 
            "contact"
            "education"
            "skills";
    }

    #contact-education-skills > div
    {
        padding: 2rem;
    }
}